.navbar{
    background-color: tomato;
    padding-bottom: 0px;
}

.btn-deconnect{
    margin-top: 3px;
}

.form-control{
    width: 30px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.marimi input{
    min-width: 30px; !important;
}

#ordersRow:hover{
    background-color: grey;
}

.row-detalii-comanda{
    border: 5px black;
}

.container-span{
    margin-top:20px;
}
.container-order{
    margin-left: 20px;
}